<article
  class="flex flex-col p-4 shadow bg-[#282828] rounded-xl rounded-br-lg border-b-4 border-b-gray-950"
>
  <strong
    class="w-fit self-end mb-5 bg-green-500/20 text-green-500 rounded px-2"
    >{{ education().period }}</strong
  >
  <div class="flex items-center gap-3 mb-5">
    <img
      class="size-20 rounded"
      [src]="education().logo | image"
      alt="Logo de {{ education().institution }}"
    />
    <h5 class="text-xl">
      <strong>{{ education().title }}</strong>
    </h5>
  </div>
  @for (item of education().description; track $index) {
  <p class="mb-3 text-white/90">{{ item }}</p>
  }
</article>
