<a
  class="group block cursor-pointer"
  [routerLink]="['/projects', project().key]"
>
  <div class="overflow-hidden rounded-xl mb-8">
    <img
      class="asbolute h-full rounded-xl group-hover:scale-110 aspect-video transition-transform duration-700 shadow-xl"
      [src]="project().image | image"
      [alt]="project().title"
    />
  </div>
  <h5
    class="text-xl font-bold mb-2 group-hover:underline group-hover:text-orange-500"
  >
    {{ project().title }}
  </h5>
  <p class="text-white/70 text-balance">{{ project().summary }}</p>
  <div class="flex flex-wrap gap-2 mt-3">
    @for (tech of project().technologies; track $index) {
    <div
      class="flex gap-2 items-center px-2 rounded-full"
      [ngStyle]="{
        'color': tech.color,
        'background-color': tech.backgroundColor,
      }"
    >
      <img
        class="size-4"
        [src]="tech.icon | icon"
        [alt]="tech.label"
        width="16px"
        height="16px"
      />
      <span
        class="text-nowrap"
        [ngStyle]="{ color: tech.color, filter: 'contrast(2)' }"
        >{{ tech.label }}</span
      >
    </div>
    }
  </div>
</a>
