<article class="h-full flex flex-row gap-4 rounded-lg">
  <div class="flex flex-col items-center relative px-4">
    <span
      class="size-5 rounded-full bg-primary-500/30 absolute top-5 flex items-center justify-center"
    >
      <span class="block size-3 rounded-full bg-primary-500 relative"></span>
    </span>
    <span class="block w-[2px] h-full bg-[#333]"></span>
  </div>
  <div class="rounded-2xl border border-white/10 p-5 w-full">
    <div
      class="flex flex-col sm:flex-row sm:items-start sm:justify-between gap-3 pb-6"
    >
      <div>
        <h3 class="mt-2 text-lg md:text-xl font-semibold text-primary-500">
          {{ experience().title }}
        </h3>
        <div class="flex flex-col gap-1 mt-2">
          <span
            class="text-base font-semibold text-white/70 flex gap-1 items-center"
          >
            <lucide-icon name="building" size="18"></lucide-icon>
            {{ experience().company }}
          </span>
          <span
            class="text-base font-semibold text-white/70 flex gap-1 items-center"
          >
            <lucide-icon name="calendar-days" size="18"></lucide-icon>
            {{ experience().period }}
          </span>
        </div>
      </div>
    </div>

    <div class="pb-6">
      <div class="text-base tracking-wider uppercase font-medium text-white">
        Responsabilidades
      </div>
      <ul class="mt-3 space-y-2 text-base text-white/70 list-disc list-inside">
        @for (item of experience().achievements; track $index) {
          <li>{{ item }}</li>
        }
      </ul>
    </div>

    <div class="pb-6">
      <div class="text-base tracking-wider uppercase font-medium text-white">
        Tecnologías Utilizadas
      </div>
      <div class="flex flex-wrap gap-2 mt-3">
        @for (item of experience().technologies; track $index) {
          <tech-chip [tech]="item" design="badge"></tech-chip>
        }
      </div>
    </div>
  </div>
</article>
