<main class="my-10 md:my-20 px-4 fade-in">
  <div class="max-w-[1200px] mx-auto pt-12 md:pt-36">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
      <div class="col-span-2">
        <h1
          class="text-5xl md:text-7xl font-bold text-primary-500 text-center md:text-left"
        >
          {{ cv.name }}
        </h1>
        <p class="text-lg md:text-xl text-white/90 text-center md:text-left">
          {{ cv.summary }}
        </p>
        <div class="mt-10">
          @for (p of cv.about; track $index) {
          <p class="mb-3 text-white/70 text-center md:text-left md:text-lg">
            {{ p }}
          </p>
          }
        </div>
        <div class="flex gap-3">
          <download-cv-button />
          <copy-to-clipboard [textToCopy]="cv.email" label="Copiar email" />
        </div>
        <div class="flex justify-center md:justify-start gap-3 mt-5">
          @for (item of cv.socialNetworks; track $index) {
          <div
            class="border border-[#333] hover:border-primary-500 rounded p-2 hover:-translate-y-1 transition-transform"
          >
            <a
              class="flex gap-2"
              [href]="item.url"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="size-6"
                [src]="item.icon | icon"
                [alt]="item.name"
                width="24px"
                height="24px"
              />
            </a>
          </div>
          }
        </div>
      </div>
      <div class="relative hidden lg:block">
        <img
          class="size-2/3 levitar absolute left-0 right-0 mx-auto angular-drop-shadow"
          [src]="'angular' | icon"
          alt="Logo de Angular"
        />
        <img
          class="size-1/4 levitar absolute left-10 bottom-24 spring-drop-shadow"
          [src]="'spring' | icon"
          alt="Logo de Spring"
        />
        <img
          class="size-1/4 levitar absolute right-10 bottom-24 nest-drop-shadow"
          [src]="'nestjs' | icon"
          alt="Logo de NestJS"
        />
      </div>
    </div>
  </div>
</main>

<decoration
  class="absolute left-20 hidden xl:block slide-in-left"
  color="bg-[#333]"
/>

<section class="max-w-[1200px] mx-auto my-10 md:my-20 px-4 slide-in-bottom">
  <h2
    class="text-2xl md:text-4xl font-bold text-white/90 text-center md:text-left mb-10"
  >
    Habilidades
    <span
      class="block mx-auto md:mx-0 w-[150px] md:w-1/12 h-3 bg-primary-500 mt-3"
    ></span>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <skills header="Lenguajes" [skills]="cv.skills.languages"></skills>
    <skills header="Frameworks" [skills]="cv.skills.frameworks"></skills>
    <skills header="Bases de datos" [skills]="cv.skills.databases"></skills>
    <skills header="Otros" [skills]="cv.skills.others"></skills>
  </div>
</section>

<decoration class="absolute right-20 hidden xl:block slide-in-right" rows="8" />

<section class="max-w-[1200px] mx-auto my-10 md:my-20 px-4 slide-in-bottom">
  <h2
    class="text-2xl md:text-4xl font-bold text-white/90 text-center md:text-left mb-10"
  >
    Proyectos destacados
    <span
      class="block mx-auto md:mx-0 w-[300px] md:w-1/12 h-3 bg-primary-500 mt-3"
    ></span>
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-5">
    @for (project of projects; track $index) {
    <project-card [project]="project"></project-card>
    }
  </div>
  <a
    class="w-fit ml-auto flex items-center gap-3 text-primary-500 hover:bg-primary-500/15 transition-colors py-3 rounded-full px-4"
    routerLink="/projects"
  >
    Ver todos los proyectos
    <mat-icon>chevron_right</mat-icon>
  </a>
</section>
