<div
  class="bg-[#282828] flex gap-3 justify-between items-center rounded-xl py-1 px-4"
>
  <p class="md:text-lg text-white/90">{{ label() ? label() : textToCopy() }}</p>
  <button
    class="cursor-pointer hover:bg-[#999]/15 rounded-full p-3 grid place-items-center"
    [ngClass]="{
      'text-green-500 bg-green-500/15': textHasCopied() == true,
      'text-primary-500': textHasCopied() == false,
    }"
    (click)="copyToClipboard()"
  >
    <mat-icon>{{ icon() }}</mat-icon>
  </button>
</div>
