<nav class="group">
  <button
    class="md:hidden w-12 h-10 flex flex-col justify-between mb-2 bg-primary-500/90 rounded p-2"
    (click)="toggleMenu()"
  >
    <div
      class="bg-white h-[2px] w-full rounded transition-transform duration-500 origin-left"
      [ngClass]="{ 'rotate-45': visible }"
    ></div>
    <div
      class="bg-white h-[2px] w-full rounded transition-opacity duration-500"
      [ngClass]="{ 'opacity-0': visible }"
    ></div>
    <div
      class="bg-white h-[2px] w-full rounded transition-transform duration-500 origin-left"
      [ngClass]="{ '-rotate-45': visible }"
    ></div>
  </button>
  <ul
    class="hidden md:flex flex-col md:flex-row gap-3 p-4 bg-primary-500/90 rounded-xl w-fit"
    [ngClass]="{ hidden: !visible }"
  >
    @for (item of menuItems; track $index) {
      <li class="mb-3 md:mb-0">
        <a
          class="py-2 px-4 rounded-xl hover:text-white transition-colors"
          [routerLink]="item.routerLink"
          routerLinkActive="border border-white-500 text-white bg-white/15"
          queryParamsHandling="preserve"
          >{{ item.label }}</a
        >
      </li>
    }
  </ul>
</nav>
