<nav class="group">
  <ul
    class="flex flex-row gap-5 md:gap-3 p-1 md:p-4 rounded-xl backdrop-blur-2xl w-full bg-black/20"
  >
    @for (item of menuItems; track $index) {
      <li>
        <a
          class="hidden md:inline py-2 px-4 rounded-xl hover:text-white transition-colors"
          [routerLink]="item.routerLink"
          [fragment]="item.fragment"
          queryParamsHandling="preserve"
          >{{ item.label }}</a
        >
        <a
          class="md:hidden"
          [routerLink]="item.routerLink"
          routerLinkActive="text-primary-500"
          [fragment]="item.fragment"
          queryParamsHandling="preserve"
        >
          <div class="p-2 rounded-full bg-white/10">
            <lucide-icon [name]="item.icon" size="20"></lucide-icon>
          </div>
        </a>
      </li>
    }
  </ul>
</nav>
