<section
  class="my-10 md:my-20 px-4 max-w-[1200px] mx-auto pt-12 md:pt-26 fade-in"
>
  <h1
    class="text-4xl md:text-6xl font-bold text-primary-500 text-center md:text-left mb-10"
  >
    Experiencia
  </h1>
  <p class="text-lg text-white/90 text-center md:text-left">
    Resumen de mi experiencia laboral.
  </p>
  <div class="grid grid-cols-1 gap-5 mt-5">
    @for (item of experiences; track $index) {
      <experience-item [experience]="item"></experience-item>
    }
  </div>
  <decoration
    class="absolute right-20 hidden xl:block top-64 slide-in-right"
    rows="10"
  />
  <decoration
    class="absolute left-20 bottom-0 hidden xl:block slide-in-left"
    color="bg-[#333]"
  />
</section>
