<section
  class="my-10 md:my-20 px-4 max-w-[1200px] mx-auto pt-12 md:pt-26 fade-in"
  id="projects"
  trackSection="projects"
>
  <h2>{{ "projects.title" | translate }}</h2>
  <div class="flex justify-center">
    <div
      class="h-1.5 w-32 bg-gradient-to-r from-[#DD0031] to-black mb-8 rounded-full origin-left"
    ></div>
  </div>
  <p class="text-base text-center text-pretty md:text-xl text-primary mb-5">
    {{ "projects.description" | translate }}
  </p>

  <div class="flex flex-col gap-5 md:gap-10">
    @for (project of projects(); track $index) {
      <project-card [project]="project"></project-card>
    }
  </div>

  <div class="flex flex-col justify-center items-center mt-10">
    <p class="text-base text-center text-pretty md:text-xl text-primary mb-5">
      ¿Quieres ver más proyectos?
    </p>
    <a
      class="w-fit flex gap-2 justify-center px-8 py-4 bg-gradient-to-r from-[#DD0031] to-black text-white rounded-2xl font-bold shadow-xl hover:shadow-2xl transition-all items-center group hover:scale-105 duration-300"
      href=""
    >
      Explorar más en GitHub
      <i-lucide name="github" size="20"></i-lucide>
    </a>
  </div>
</section>
