<section
  class="my-10 md:my-20 px-4 max-w-[1200px] mx-auto pt-12 md:pt-26 fade-in"
  id="contact"
  trackSection="contact"
>
  <h2>{{ "contact.title" | translate }}</h2>
  <p class="mt-3 text-base md:text-lg text-white/70 max-w-prose mb-5">
    {{ "contact.description" | translate }}
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <article
      class="relative overflow-hidden rounded-xl p-4 border border-white/10 bg-white/[0.02] md:col-span-2 fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-red-500 px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8" [src]="'gmail-white' | icon" alt="" />
      </span>
      <h5 class="font-medium text-xl mb-4">
        {{ "contact.sendEmail" | translate }}
      </h5>
      <p class="text-white/70 text-base">
        {{ "contact.emailDescription" | translate }}
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-primary-500 mt-8 w-fit"
        [href]="networks()[2].url"
        target="_blank"
        (click)="trackClick('gmail')"
      >
        {{ "contact.sendEmailButton" | translate }}
        <lucide-icon name="chevron-right"></lucide-icon>
      </a>
    </article>
    <article
      class="relative overflow-hidden rounded-xl p-4 border border-white/10 bg-white/[0.02] fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-black px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8" [src]="'github' | icon" alt="" />
      </span>

      <h5 class="font-medium text-xl mb-4">
        {{ "contact.visitGithub" | translate }}
      </h5>
      <p class="text-white/70 text-base">
        {{ "contact.githubDescription" | translate }}
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-[#fff] text-black mt-8 w-fit"
        [href]="networks()[1].url"
        target="_blank"
        (click)="trackClick('github')"
      >
        {{ "contact.viewGithubProfile" | translate }}
        <lucide-icon name="chevron-right"></lucide-icon>
      </a>
    </article>
    <article
      class="relative overflow-hidden rounded-xl p-4 border border-white/10 bg-white/[0.02] md:col-span-2 fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-[#0066c8] px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8 grayscale" [src]="'linkedin-white' | icon" alt="" />
      </span>
      <h5 class="font-medium text-xl mb-4 z-10">
        {{ "contact.connectLinkedin" | translate }}
      </h5>
      <p class="text-white/70 z-10 text-base">
        {{ "contact.linkedinDescription" | translate }}
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-[#0066c8] mt-8 w-fit"
        [href]="networks()[0].url"
        target="_blank"
        (click)="trackClick('linkedin')"
      >
        {{ "contact.visitProfile" | translate }}
        <lucide-icon name="chevron-right"></lucide-icon>
      </a>
    </article>
  </div>
</section>
