<section
  class="my-10 md:my-20 px-4 max-w-[1200px] mx-auto pt-12 md:pt-26 fade-in"
  id="contact"
  trackSection="contact"
>
  <h2>Contacto</h2>
  <p class="text-lg text-white/90 text-center md:text-left mb-5">
    Contacta conmigo para cualquier duda o propuesta de trabajo.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
    <article
      class="relative overflow-hidden rounded-xl p-4 bg-[#282828] md:col-span-2 fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-red-500 px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8" [src]="'gmail-white' | icon" alt="" />
      </span>
      <h5 class="font-medium text-xl mb-4">Enviame un correo</h5>
      <p class="text-white/70 text-sm">
        Puedes enviarme un correo a mi dirección de correo electrónico.
        Escríbeme para cualquier duda o propuesta de trabajo y podremos agendar
        una reunión.
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-primary-500 mt-8 w-fit"
        [href]="networks[2].url"
        target="_blank"
        (click)="trackClick('gmail')"
      >
        Enviar correo
        <mat-icon>chevron_right</mat-icon>
      </a>
    </article>
    <article
      class="relative overflow-hidden rounded-xl p-4 bg-[#282828] fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-black px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8" [src]="'github' | icon" alt="" />
      </span>

      <h5 class="font-medium text-xl mb-4">Visita mi perfil de GitHub</h5>
      <p class="text-white/70 text-sm">
        Descubre mis proyectos y colaboraciones que he realizado en GitHub.
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-[#fff] text-black mt-8 w-fit"
        [href]="networks[1].url"
        target="_blank"
        (click)="trackClick('github')"
      >
        Ver perfil de GitHub
        <mat-icon>chevron_right</mat-icon>
      </a>
    </article>
    <article
      class="relative overflow-hidden rounded-xl p-4 bg-[#282828] md:col-span-2 fade-in"
    >
      <span
        class="absolute -right-24 -top-16 rotate-45 origin-center bg-[#0066c8] px-20 pt-20 pb-4 block w-fit"
      >
        <img class="size-8 grayscale" [src]="'linkedin-white' | icon" alt="" />
      </span>
      <h5 class="font-medium text-xl mb-4 z-10">Conecta conmigo en LinkedIn</h5>
      <p class="text-white/70 z-10 text-sm">
        Visita mi perfil de LinkedIn y conecta conmigo para estar al tanto de
        mis publicaciones y proyectos.
      </p>
      <a
        class="flex items-center gap-1 rounded-xl py-2 px-4 bg-[#0066c8] mt-8 w-fit"
        [href]="networks[0].url"
        target="_blank"
        (click)="trackClick('linkedin')"
      >
        Visitar perfil
        <mat-icon>chevron_right</mat-icon>
      </a>
    </article>
  </div>
</section>
