<article class="rounded-lg py-4">
  <h5
    class="text-center md:text-start text-lg md:text-xl mb-3 text-balance text-[#f72579]"
  >
    <strong>{{ certification().title }}</strong>
  </h5>
  <p class="text-white/70 text-center md:text-start">
    Emitido por @if (certification().institutionUrl) {
    <strong>
      <a
        class="text-[#f72579]/70 hover:underline"
        [href]="certification().institutionUrl"
        target="_blank"
      >
        {{ certification().institution }}
      </a>
    </strong>
    } @else {
    <span class="text-[#f72579]/70">
      <strong>{{ certification().institution }}</strong>
    </span>
    } en <strong>{{ certification().date }}</strong>
  </p>
  <p>
    {{ certification().description }}
  </p>

  <div class="mt-4 flex justify-center md:justify-start">
    <a
      class="text-[#f72579]/70 rounded-full px-4 py-2 hover:bg-[#f72579]/15 flex items-center gap-2 w-fit"
      [href]="certification().url"
      target="_blank"
    >
      <mat-icon>north_east</mat-icon>
      Ver certificado
    </a>
  </div>
</article>
