<article class="h-full flex flex-row gap-4 rounded-lg">
  <div class="flex flex-col items-center relative px-4">
    <span
      class="block size-3 rounded-full bg-primary-500 absolute top-16"
    ></span>
    <span class="block w-[2px] h-full bg-[#333]"></span>
  </div>
  <div class="flex flex-col p-4 flex-grow">
    <strong class="w-fit self-start mb-5 bg-white/70 text-black rounded px-2">
      {{ certification().date }}
    </strong>
    <h5 class="text-lg md:text-xl text-balance text-primary-500">
      <strong>{{ certification().title }}</strong>
    </h5>
    <p class="text-white/90 mb-5">
      Emitido por @if (certification().institutionUrl) {
      <strong>
        <a
          class="hover:underline"
          [href]="certification().institutionUrl"
          target="_blank"
        >
          {{ certification().institution }}
        </a>
      </strong>
      } @else {
      <span>
        <strong>{{ certification().institution }}</strong>
      </span>
      }
    </p>
    @if (certification().description) { @for (p of certification().description;
    track $index) {
    <p class="mb-3 text-white/70">{{ p }}</p>
    } } @if (certification().url) {
    <div class="mt-4">
      <a
        class="text-primary-500/70 rounded-full px-4 py-2 hover:bg-primary-500/15 flex items-center gap-2 w-fit"
        [href]="certification().url"
        target="_blank"
      >
        Ver certificado
        <mat-icon>chevron_right</mat-icon>
      </a>
    </div>
    }
  </div>
</article>
