<section
  class="my-10 md:my-20 px-4 max-w-[1200px] mx-auto pt-12 md:pt-26 fade-in"
  id="experience"
  trackSection="experience"
>
  <h2>Experiencia</h2>

  <div class="flex justify-center">
    <div
      class="h-1.5 w-32 bg-gradient-to-r from-[#DD0031] to-black mb-8 rounded-full origin-left"
    ></div>
  </div>

  <div class="flex justify-center mb-20">
    <p
      class="flex gap-3 items-center bg-primary-500/15 text-primary-500 text-base font-bold px-6 py-2 rounded-full w-fit"
    >
      <span class="text-3xl">+ 1</span>
      <span>año de experiencia</span>
    </p>
  </div>

  <div class="space-y-16">
    @for (experience of experiences; track $index) {
      <experience-item [experience]="experience"></experience-item>
    }
  </div>
</section>
